.rainbow-circle {
  position: absolute;
  top: 3px;
  right: 5px;
  width: 20px; /* You can adjust the size as needed */
  height: 20px;
  border-radius: 50%; /* This makes the div a circle */
  background: conic-gradient(red, orange, yellow, green, blue, indigo, violet);
  cursor: pointer; /* Optional: makes the circle look clickable */
  margin-bottom:20px;
}


.colors {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.color {
  width: 40px;
  height: 40px;
  margin: 10px;
  border-radius: 10%;
  cursor: pointer;
}

@media(max-width:440px){
  .color {
    width: 30px;
    height: 30px;
    margin: 7px;
  }
  
}